:root {
    --text-info: blue;
    --text-success: green;
    --text-warning: hsl(67, 100%,37%) ;
    --text-error: red;
    --bg-info: hsla(205,50%,50%,0.3);
    --bg-success: hsla(123,50%,50%,0.3);
    --bg-warning: hsla(60,50%,50%,0.3);
    --bg-error: hsla(0,50%,50%,0.3);
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info{  /* BLUE */
    color: var(--text-info);
    border-radius: 5px;
    background-color: var(--bg-info) ;
    width: 600px;
    height: 20px;
    padding: 5px 5px;
    margin: 10px;

}

.message-success{  /* GREEN */
    color: var(--text-success);
    border-radius: 5px;
    background-color: var(--bg-success);
    width: 600px;
    height: 20px;
    padding: 5px 5px;
    margin: 10px
}

.message-warning{   /* YELLOW */
    color: var(--text-warning);
    border-radius: 5px;
    background-color: var(--bg-warning);
    width: 600px;
    height: 20px;
    padding: 5px 5px;
    margin: 10px;
}

.message-error{   /* RED */
    color: var(--text-error);
    border-radius: 5px;
    background-color: var(--bg-error);
    width: 600px;
    height: 20px;
    padding: 5px 5px;
    margin: 10px;
}